/* #home-container
	.sc-digi-layout-block-h
	.digi-layout-block--profile.sc-digi-layout-block {
	background: #2e0249;
} */

h1,
p {
	color: white;
}

.welcome-text {
	padding-top: 1.5rem;
}

.home-body-text {
	padding-top: 1.5rem;
}

#home-container {
	background: #2e0249;
}

.home-container {
	display: flex;
	flex-direction: row;
	/* background-color: aqua; */
	align-items: center;
	justify-content: space-evenly;
}

.digi-layout-container {
	display: grid;
}

.home-lower-sub-container {
	/* background-color: red; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.welcome-text {
	font-weight: 900;
}

.map-img-start {
	padding-top: 1.5rem;
	border-radius: 250px;
}

@media screen and (max-width: 992px) {
	.sc-digi-layout-columns-h .digi-layout-columns.sc-digi-layout-columns {
		display: flex;
		flex-direction: column;
		grid-template-columns: 1fr; /* Gör om till en kolumn */
	}
}
