.welcome-text {
	padding-top: 1.5rem;
	font-weight: 900;
	color: white;
}

.home-body-text {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	color: white;
}

.home-container {
	background: #2e0249;
}

.background-container {
	background-color: white;
}

.home-lower-sub-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-main-body-text-1 {
	background-color: white;
}

.home-main-body-text-2 {
	background-color: white;
}

.digi-media-image__image {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	border-radius: 250px;
}

@media screen and (max-width: 992px) {
	.sc-digi-layout-columns-h .digi-layout-columns.sc-digi-layout-columns {
		display: flex;
		flex-direction: column;
		grid-template-columns: 1fr;
	}
}
