body {
  background-color: var(--digi--global--color--profile--white--darkest);
}

.job-list-container {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.job-item-container {
  display: flex;
  align-items: center;
  word-wrap: break-word;
}

.job-item-container img {
  margin-right: 15px;
  height: 60px;
  width: 60px;
  object-fit: contain;
}

.job-title {
  padding-top: 15px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

h4 {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

p {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.job-occupation {
  margin: 0;
}

.job-publication-date {
  padding-bottom: 15px;
}

.digiLayoutBlock {
  background-color: var(--digi--global--color--profile--white);
  margin: 10px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner-container .digi-loader-spinner {
  margin-top: -100px;
}

@media (min-width: 992px) {
  .job-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    margin: 15px;
  }

  .job-item-container {
    align-items: start;
    min-height: 250px;
  }
}
