.job-list-container {
  display: flex;
  flex-direction: column;
}

.job-item-container {
  display: flex;
  align-items: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  padding: 15px;
  max-width: 100%;
}

.job-item-container img {
  margin-right: 15px;
  height: 60px;
  width: 60px;
  object-fit: contain;
}

.job-occupation {
  margin: 0;
}

.job-publication-date {
  padding-bottom: 15px;
}

.digiLayoutBlock {
  background-color: var(--digi--global--color--profile--white);
  margin: 10px;
}

@media (min-width: 992px) {
  .job-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  }

  .job-item-container {
    min-height: 250px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
}
