.job-container {
  grid-column: 1 / 2;
  overflow: hidden; 
  word-wrap: break-word;
}

.employment-information-container > :nth-child(1) {
  display: flex;
  flex-direction: column;
}

.map-container {
  grid-column: 3 / 5;
}