.job-container {
	overflow: hidden;
	word-wrap: break-word;
	display: block;
}

.employment-information-container > :nth-child(1) {
	display: flex;
	flex-direction: column;
}

/* the colored line on the apply now card */
.sc-digi-info-card-h {
	--digi--info-card--border: var(--digi--border-width--complementary-2) solid
		#a00eda;
}
