:root {
  --digi--color--border--secondary: #822998 !important;
  /* --digi--color--background--inverted-1: linear-gradient(
    180deg,
    #2e0249 0%,
    #6a0dad 35%,
    #7a00b9 100%
  ) !important; */
  --digi--color--background--inverted-1: linear-gradient(
    180deg,
    #2e0249 0%,
    #2e0249 60%,
    #6a0dad 80%,
    #7a00b9 100%
  ) !important;

  /* --COLOR--BACKGROUND--DEFAULT: #2196f3 !important; */
}

/* .sc-digi-button-h .digi-button--variation-primary.sc-digi-button {
  background-color: #2196f3 !important;
} */

.btn-app-link--custom {
  background-color: black !important;
}
