@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css";
@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css";
@import "styles/selectedJob.css";
@import "styles/header.css";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  --digi--color--border--secondary: #2e0249;
}

#back-button {
  background: linear-gradient(
    180deg,
    #2e0249 0%,
    #2e0249 60%,
    #6a0dad 80%,
    #7a00b9 100%
  );
}

#back-button:hover {
  background: linear-gradient(
    180deg,
    #4c1a6e 0%,
    #4c1a6e 60%,
    #8c35cf 80%,
    #9f46e0 100%
  );
}

.digi-logo__img {
  background-image: url("./assets/jobbkartan_logo_1.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.digi-logo svg {
  display: none;
}

/* map warning text */
.map-warning {
  font-size: 1rem;
  margin-top: 10px;
  text-align: center; 
  font-style: italic; 
}
